<a href="https://colab.research.google.com/github/SamanMansoor/Data-Science/blob/main/Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=d403a045ccbb09e2fb4985cd6781e2dab40770ee3383c8a9affcf332443b7840
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Big data") \
                            .master("local[*]")\
                            .config("spark.some.config.option", "some-value") \
                            .getOrCreate()

In [ ]:
Data = spark.read.csv('/content/Combined_Flights_2022.csv',header = True,inferSchema=True)

Data.limit(5).toPandas()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [ ]:
Data.show()

+-------------------+--------------------+------+----+---------+--------+----------+-------+---------------+--------+-------+---------------+-------+--------------+-----------------+--------+----+-------+-----+----------+---------+-------------------------+---------------------------------------+------------------------+---------------------------+-------------------------------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+-------------------+---------+-------------+-------------+-------+--------+--------------------+----------+-------+---------+--------+------+----------+--------+--------+------------------+----------+-------------+------------------+
|         FlightDate|             Airline|Origin|Dest|Cancelled|Diverted|CRSDepTime|DepTime|DepDelayMinutes|DepDelay|ArrTime|ArrDelayMinutes|AirTime|CRSElapsedTime|ActualElapsedTime|Distance|Year|Quarter|Month|DayofMonth|DayOfWeek|Marketing_Airline_Network|Operated_or_Branded_Code_Share_Partners|DOT_ID_Marketing_Airline|IATA_Code_Marketing_Airline|Flight_Number_Marketing_Airline|Operating_Airline|DOT_ID_Operating_Airline|IATA_Code_Operating_Airline|Tail_Number|Flight_Number_Operating_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|       DestCityName|DestState|DestStateFips|DestStateName|DestWac|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrDelay|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|DistanceGroup|DivAirportLandings|
+-------------------+--------------------+------+----+---------+--------+----------+-------+---------------+--------+-------+---------------+-------+--------------+-----------------+--------+----+-------+-----+----------+---------+-------------------------+---------------------------------------+------------------------+---------------------------+-------------------------------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+-------------------+---------+-------------+-------------+-------+--------+--------------------+----------+-------+---------+--------+------+----------+--------+--------+------------------+----------+-------------+------------------+
|2022-04-04 00:00:00|Commutair Aka Cha...|   GJT| DEN|    false|   false|      1133| 1123.0|            0.0|   -10.0| 1228.0|            0.0|   40.0|          72.0|             65.0|   212.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4301|               C5|                   20445|                         C5|     N21144|                           4301|          11921|           1192102|             31921|  Grand Junction, CO|         CO|              8|       Colorado|       82|        11292|         1129202|           30325|         Denver, CO|       CO|            8|     Colorado|     82|     0.0|                -1.0| 1100-1159|   17.0|   1140.0|  1220.0|   8.0|      1245|   -17.0|     0.0|              -2.0| 1200-1259|            1|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   HRL| IAH|    false|   false|       732|  728.0|            0.0|    -4.0|  848.0|            0.0|   55.0|          77.0|             80.0|   295.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4299|               C5|                   20445|                         C5|     N16170|                           4299|          12206|           1220605|             32206|Harlingen/San Ben...|         TX|             48|          Texas|       74|        12266|         1226603|           31453|        Houston, TX|       TX|           48|        Texas|     74|     0.0|                -1.0| 0700-0759|   16.0|    744.0|   839.0|   9.0|       849|    -1.0|     0.0|              -1.0| 0800-0859|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DRO| DEN|    false|   false|      1529| 1514.0|            0.0|   -15.0| 1636.0|            0.0|   47.0|          70.0|             82.0|   251.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4298|               C5|                   20445|                         C5|     N21144|                           4298|          11413|           1141307|             30285|         Durango, CO|         CO|              8|       Colorado|       82|        11292|         1129202|           30325|         Denver, CO|       CO|            8|     Colorado|     82|     0.0|                -1.0| 1500-1559|   21.0|   1535.0|  1622.0|  14.0|      1639|    -3.0|     0.0|              -1.0| 1600-1659|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   IAH| GPT|    false|   false|      1435| 1430.0|            0.0|    -5.0| 1547.0|            0.0|   57.0|          90.0|             77.0|   376.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4296|               C5|                   20445|                         C5|     N11184|                           4296|          12266|           1226603|             31453|         Houston, TX|         TX|             48|          Texas|       74|        11973|         1197302|           31973|Gulfport/Biloxi, MS|       MS|           28|  Mississippi|     53|     0.0|                -1.0| 1400-1459|   16.0|   1446.0|  1543.0|   4.0|      1605|   -18.0|     0.0|              -2.0| 1600-1659|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DRO| DEN|    false|   false|      1135| 1135.0|            0.0|     0.0| 1251.0|            6.0|   49.0|          70.0|             76.0|   251.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4295|               C5|                   20445|                         C5|     N17146|                           4295|          11413|           1141307|             30285|         Durango, CO|         CO|              8|       Colorado|       82|        11292|         1129202|           30325|         Denver, CO|       CO|            8|     Colorado|     82|     0.0|                 0.0| 1100-1159|   19.0|   1154.0|  1243.0|   8.0|      1245|     6.0|     0.0|               0.0| 1200-1259|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| TUL|    false|   false|       955|  952.0|            0.0|    -3.0| 1238.0|            0.0|   77.0|         105.0|            106.0|   541.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4294|               C5|                   20445|                         C5|     N11191|                           4294|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        15370|         1537002|           34653|          Tulsa, OK|       OK|           40|     Oklahoma|     73|     0.0|                -1.0| 0900-0959|   25.0|   1017.0|  1234.0|   4.0|      1240|    -2.0|     0.0|              -1.0| 1200-1259|            3|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   IAH| LCH|    false|   false|      2139| 2136.0|            0.0|    -3.0| 2218.0|            0.0|   26.0|          52.0|             42.0|   127.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4293|               C5|                   20445|                         C5|     N14143|                           4293|          12266|           1226603|             31453|         Houston, TX|         TX|             48|          Texas|       74|        12915|         1291503|           31205|   Lake Charles, LA|       LA|           22|    Louisiana|     72|     0.0|                -1.0| 2100-2159|   11.0|   2147.0|  2213.0|   5.0|      2231|   -13.0|     0.0|              -1.0| 2200-2259|            1|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   TYS| IAH|    false|   false|      1129| 1117.0|            0.0|   -12.0| 1311.0|            5.0|  136.0|         157.0|            174.0|   771.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4292|               C5|                   20445|                         C5|     N13124|                           4292|          15412|           1541205|             35412|       Knoxville, TN|         TN|             47|      Tennessee|       54|        12266|         1226603|           31453|        Houston, TX|       TX|           48|        Texas|     74|     0.0|                -1.0| 1100-1159|   22.0|   1139.0|  1255.0|  16.0|      1306|     5.0|     0.0|               0.0| 1300-1359|            4|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   IAH| AEX|    false|   false|      1424| 1414.0|            0.0|   -10.0| 1513.0|            0.0|   37.0|          60.0|             59.0|   190.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4291|               C5|                   20445|                         C5|     N33182|                           4291|          12266|           1226603|             31453|         Houston, TX|         TX|             48|          Texas|       74|        10185|         1018502|           30185|     Alexandria, LA|       LA|           22|    Louisiana|     72|     0.0|                -1.0| 1400-1459|   16.0|   1430.0|  1507.0|   6.0|      1524|   -11.0|     0.0|              -1.0| 1500-1559|            1|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   IAH| MOB|    false|   false|       954|  947.0|            0.0|    -7.0| 1110.0|            0.0|   60.0|          87.0|             83.0|   427.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4290|               C5|                   20445|                         C5|     N21154|                           4290|          12266|           1226603|             31453|         Houston, TX|         TX|             48|          Texas|       74|        13422|         1342202|           30562|         Mobile, AL|       AL|            1|      Alabama|     51|     0.0|                -1.0| 0900-0959|   17.0|   1004.0|  1104.0|   6.0|      1121|   -11.0|     0.0|              -1.0| 1100-1159|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| CPR|    false|   false|      1540| 1546.0|            6.0|     6.0| 1650.0|            0.0|   45.0|          70.0|             64.0|   230.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4288|               C5|                   20445|                         C5|     N14177|                           4288|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        11122|         1112205|           31122|         Casper, WY|       WY|           56|      Wyoming|     88|     0.0|                 0.0| 1500-1559|   13.0|   1559.0|  1644.0|   6.0|      1650|     0.0|     0.0|               0.0| 1600-1659|            1|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   MOB| IAH|    false|   false|       705|  704.0|            0.0|    -1.0|  858.0|            6.0|   84.0|         107.0|            114.0|   427.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4287|               C5|                   20445|                         C5|     N11184|                           4287|          13422|           1342202|             30562|          Mobile, AL|         AL|              1|        Alabama|       51|        12266|         1226603|           31453|        Houston, TX|       TX|           48|        Texas|     74|     0.0|                -1.0| 0700-0759|   18.0|    722.0|   846.0|  12.0|       852|     6.0|     0.0|               0.0| 0800-0859|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   LNK| DEN|    false|   false|      1403| 1358.0|            0.0|    -5.0| 1425.0|            0.0|   69.0|         100.0|             87.0|   423.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4286|               C5|                   20445|                         C5|     N14177|                           4286|          13029|           1302902|             33029|         Lincoln, NE|         NE|             31|       Nebraska|       65|        11292|         1129202|           30325|         Denver, CO|       CO|            8|     Colorado|     82|     0.0|                -1.0| 1400-1459|   11.0|   1409.0|  1418.0|   7.0|      1443|   -18.0|     0.0|              -2.0| 1400-1459|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   IAH| OKC|    false|   false|      1014| 1008.0|            0.0|    -6.0| 1148.0|            0.0|   59.0|          95.0|            100.0|   395.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4281|               C5|                   20445|                         C5|     N11193|                           4281|          12266|           1226603|             31453|         Houston, TX|         TX|             48|          Texas|       74|        13851|         1385103|           33851|  Oklahoma City, OK|       OK|           40|     Oklahoma|     73|     0.0|                -1.0| 1000-1059|   33.0|   1041.0|  1140.0|   8.0|      1149|    -1.0|     0.0|              -1.0| 1100-1159|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   BHM| IAH|    false|   false|      1258| 1255.0|            0.0|    -3.0| 1505.0|            0.0|  103.0|         131.0|            130.0|   562.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4280|               C5|                   20445|                         C5|     N12160|                           4280|          10599|           1059904|             30599|      Birmingham, AL|         AL|              1|        Alabama|       51|        12266|         1226603|           31453|        Houston, TX|       TX|           48|        Texas|     74|     0.0|                -1.0| 1200-1259|   17.0|   1312.0|  1455.0|  10.0|      1509|    -4.0|     0.0|              -1.0| 1500-1559|            3|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| GJT|    false|   false|       941|  937.0|            0.0|    -4.0| 1031.0|            0.0|   39.0|          68.0|             54.0|   212.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4273|               C5|                   20445|                         C5|     N21144|                           4273|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        11921|         1192102|           31921| Grand Junction, CO|       CO|            8|     Colorado|     82|     0.0|                -1.0| 0900-0959|   12.0|    949.0|  1028.0|   3.0|      1049|   -18.0|     0.0|              -2.0| 1000-1059|            1|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| DRO|    false|   false|      1330| 1322.0|            0.0|    -8.0| 1427.0|            0.0|   45.0|          74.0|             65.0|   251.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4271|               C5|                   20445|                         C5|     N21144|                           4271|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        11413|         1141307|           30285|        Durango, CO|       CO|            8|     Colorado|     82|     0.0|                -1.0| 1300-1359|   18.0|   1340.0|  1425.0|   2.0|      1444|   -17.0|     0.0|              -2.0| 1400-1459|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| SAF|    false|   false|      1122| 1112.0|            0.0|   -10.0| 1213.0|            0.0|   45.0|          79.0|             61.0|   303.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4270|               C5|                   20445|                         C5|     N14158|                           4270|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        14674|         1467402|           34674|       Santa Fe, NM|       NM|           35|   New Mexico|     86|     0.0|                -1.0| 1100-1159|   12.0|   1124.0|  1209.0|   4.0|      1241|   -28.0|     0.0|              -2.0| 1200-1259|            2|                 0|
|2022-04-04 00:00:00|Commutair Aka Cha...|   DEN| SHV|    false|   false|      1731| 1800.0|           29.0|    29.0| 2141.0|           45.0|  119.0|         145.0|            161.0|   792.0|2022|      2|    4|         4|        1|                       UA|                           UA_CODESHARE|                   19977|                         UA|                           4268|               C5|                   20445|                         C5|     N21144|                           4268|          11292|           1129202|             30325|          Denver, CO|         CO|              8|       Colorado|       82|        14814|         1481402|           30476|     Shreveport, LA|       LA|           22|    Louisiana|     72|     1.0|                 1.0| 1700-1759|   19.0|   1819.0|  2118.0|  23.0|      2056|    45.0|     1.0|               3.0| 2000-2059|            4|                 0|

In [ ]:
# To get the Datatypes of the columns
Data.printSchema()

root
 |-- FlightDate: timestamp (nullable = true)
 |-- Airline: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Cancelled: boolean (nullable = true)
 |-- Diverted: boolean (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- DepDelayMinutes: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- ArrTime: double (nullable = true)
 |-- ArrDelayMinutes: double (nullable = true)
 |-- AirTime: double (nullable = true)
 |-- CRSElapsedTime: double (nullable = true)
 |-- ActualElapsedTime: double (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Quarter: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- Marketing_Airline_Network: string (nullable = true)
 |-- Operated_or_Branded_Code_Share_Partners: string (nullable = true)
 |-- DOT_ID_Marketing_Airline: integer (nullable = true)
 |-- IATA_Code_Marketing_Airline: string (nullable = true)
 |-- Flight_Number_Marketing_Airline: integer (nullable = true)
 |-- Operating_Airline: string (nullable = true)
 |-- DOT_ID_Operating_Airline: integer (nullable = true)
 |-- IATA_Code_Operating_Airline: string (nullable = true)
 |-- Tail_Number: string (nullable = true)
 |-- Flight_Number_Operating_Airline: integer (nullable = true)
 |-- OriginAirportID: integer (nullable = true)
 |-- OriginAirportSeqID: integer (nullable = true)
 |-- OriginCityMarketID: integer (nullable = true)
 |-- OriginCityName: string (nullable = true)
 |-- OriginState: string (nullable = true)
 |-- OriginStateFips: integer (nullable = true)
 |-- OriginStateName: string (nullable = true)
 |-- OriginWac: integer (nullable = true)
 |-- DestAirportID: integer (nullable = true)
 |-- DestAirportSeqID: integer (nullable = true)
 |-- DestCityMarketID: integer (nullable = true)
 |-- DestCityName: string (nullable = true)
 |-- DestState: string (nullable = true)
 |-- DestStateFips: integer (nullable = true)
 |-- DestStateName: string (nullable = true)
 |-- DestWac: integer (nullable = true)
 |-- DepDel15: double (nullable = true)
 |-- DepartureDelayGroups: double (nullable = true)
 |-- DepTimeBlk: string (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- WheelsOff: double (nullable = true)
 |-- WheelsOn: double (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- ArrDel15: double (nullable = true)
 |-- ArrivalDelayGroups: double (nullable = true)
 |-- ArrTimeBlk: string (nullable = true)
 |-- DistanceGroup: integer (nullable = true)
 |-- DivAirportLandings: integer (nullable = true)

In [17]:
Data.describe()

DataFrame[summary: string, Airline: string, Origin: string, Dest: string, CRSDepTime: string, DepTime: string, DepDelayMinutes: string, DepDelay: string, ArrTime: string, ArrDelayMinutes: string, AirTime: string, CRSElapsedTime: string, ActualElapsedTime: string, Distance: string, Year: string, Quarter: string, Month: string, DayofMonth: string, DayOfWeek: string, Marketing_Airline_Network: string, Operated_or_Branded_Code_Share_Partners: string, DOT_ID_Marketing_Airline: string, IATA_Code_Marketing_Airline: string, Flight_Number_Marketing_Airline: string, Operating_Airline: string, DOT_ID_Operating_Airline: string, IATA_Code_Operating_Airline: string, Tail_Number: string, Flight_Number_Operating_Airline: string, OriginAirportID: string, OriginAirportSeqID: string, OriginCityMarketID: string, OriginCityName: string, OriginState: string, OriginStateFips: string, OriginStateName: string, OriginWac: string, DestAirportID: string, DestAirportSeqID: string, DestCityMarketID: string, DestCityName: string, DestState: string, DestStateFips: string, DestStateName: string, DestWac: string, DepDel15: string, DepartureDelayGroups: string, DepTimeBlk: string, TaxiOut: string, WheelsOff: string, WheelsOn: string, TaxiIn: string, CRSArrTime: string, ArrDelay: string, ArrDel15: string, ArrivalDelayGroups: string, ArrTimeBlk: string, DistanceGroup: string, DivAirportLandings: string]

In [18]:
df1=Data.toPandas()

In [20]:
df1.isnull().sum()

FlightDate               0
Airline                  0
Origin                   0
Dest                     0
Cancelled                0
                      ...
ArrDel15              2070
ArrivalDelayGroups    2070
ArrTimeBlk               0
DistanceGroup            0
DivAirportLandings       0
Length: 61, dtype: int64

In [21]:
df1.describe()

,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,...,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,91709.000000,89868.000000,89868.000000,89868.000000,89809.000000,89639.000000,89639.000000,91709.000000,89639.000000,91709.000000,...,89843.000000,89843.000000,89809.000000,89809.000000,91709.000000,89639.000000,89639.000000,89639.000000,91709.000000,91709.000000
mean,1323.367816,1340.087206,18.389683,17.190146,1421.896336,16.557034,100.485391,125.046866,119.013499,719.512567,...,12.564897,1357.988035,1421.189046,5.972686,1452.151501,11.213300,0.290956,0.253907,3.366071,0.002595
std,500.705617,521.264473,34.600777,35.297963,574.542630,34.512121,56.233498,56.732699,57.565862,464.932890,...,6.846690,521.753606,570.307149,5.944046,544.281079,37.696221,0.454206,2.315325,1.862347,0.075977
min,500.000000,1.000000,0.000000,-25.000000,1.000000,0.000000,13.000000,35.000000,25.000000,67.000000,...,1.000000,1.000000,1.000000,1.000000,5.000000,-55.000000,0.000000,-2.000000,1.000000,0.000000
25%,900.000000,902.000000,0.000000,-2.000000,1012.000000,0.000000,59.000000,80.000000,76.000000,369.000000,...,9.000000,914.000000,1010.000000,3.000000,1030.000000,-10.000000,0.000000,-1.000000,2.000000,0.000000
50%,1315.000000,1327.000000,5.000000,5.000000,1440.000000,0.000000,87.000000,115.000000,106.000000,616.000000,...,11.000000,1339.000000,1439.000000,4.000000,1455.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,1740.000000,1801.000000,22.000000,22.000000,1911.000000,19.000000,127.000000,155.000000,147.000000,942.000000,...,14.000000,1812.000000,1910.000000,6.000000,1915.000000,19.000000,1.000000,1.000000,4.000000,0.000000
max,2255.000000,2400.000000,659.000000,659.000000,2400.000000,697.000000,407.000000,425.000000,474.000000,2979.000000,...,168.000000,2400.000000,2400.000000,186.000000,2355.000000,697.000000,1.000000,12.000000,11.000000,9.000000

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91709 entries, 0 to 91708
Data columns (total 61 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   FlightDate                               91709 non-null  datetime64[ns]
 1   Airline                                  91709 non-null  object
 2   Origin                                   91709 non-null  object
 3   Dest                                     91709 non-null  object
 4   Cancelled                                91709 non-null  bool
 5   Diverted                                 91709 non-null  bool
 6   CRSDepTime                               91709 non-null  int32
 7   DepTime                                  89868 non-null  float64
 8   DepDelayMinutes                          89868 non-null  float64
 9   DepDelay                                 89868 non-null  float64
 10  ArrTime                                  89809 non-null  float64
 11  ArrDelayMinutes                          89639 non-null  float64
 12  AirTime                                  89639 non-null  float64
 13  CRSElapsedTime                           91709 non-null  float64
 14  ActualElapsedTime                        89639 non-null  float64
 15  Distance                                 91709 non-null  float64
 16  Year                                     91709 non-null  int32
 17  Quarter                                  91709 non-null  int32
 18  Month                                    91709 non-null  int32
 19  DayofMonth                               91709 non-null  int32
 20  DayOfWeek                                91709 non-null  int32
 21  Marketing_Airline_Network                91709 non-null  object
 22  Operated_or_Branded_Code_Share_Partners  91709 non-null  object
 23  DOT_ID_Marketing_Airline                 91709 non-null  int32
 24  IATA_Code_Marketing_Airline              91709 non-null  object
 25  Flight_Number_Marketing_Airline          91709 non-null  int32
 26  Operating_Airline                        91709 non-null  object
 27  DOT_ID_Operating_Airline                 91709 non-null  int32
 28  IATA_Code_Operating_Airline              91709 non-null  object
 29  Tail_Number                              91405 non-null  object
 30  Flight_Number_Operating_Airline          91709 non-null  int32
 31  OriginAirportID                          91709 non-null  int32
 32  OriginAirportSeqID                       91709 non-null  int32
 33  OriginCityMarketID                       91709 non-null  int32
 34  OriginCityName                           91709 non-null  object
 35  OriginState                              91709 non-null  object
 36  OriginStateFips                          91709 non-null  int32
 37  OriginStateName                          91709 non-null  object
 38  OriginWac                                91709 non-null  int32
 39  DestAirportID                            91709 non-null  int32
 40  DestAirportSeqID                         91709 non-null  int32
 41  DestCityMarketID                         91709 non-null  int32
 42  DestCityName                             91709 non-null  object
 43  DestState                                91709 non-null  object
 44  DestStateFips                            91709 non-null  int32
 45  DestStateName                            91709 non-null  object
 46  DestWac                                  91709 non-null  int32
 47  DepDel15                                 89868 non-null  float64
 48  DepartureDelayGroups                     89868 non-null  float64
 49  DepTimeBlk                               91709 non-null  object
 50  TaxiOut                                  89843 non-null  float64
 51  WheelsOff                                89843 non-null  float64
 52  WheelsOn                                 89809 non-null  float64
 53  TaxiIn                                   89809 non-null  float64
 54  CRSArrTime                               91709 non-null  int32
 55  ArrDelay                                 89639 non-null  float64
 56  ArrDel15                                 89639 non-null  float64
 57  ArrivalDelayGroups                       89639 non-null  float64
 58  ArrTimeBlk                               91709 non-null  object
 59  DistanceGroup                            91709 non-null  int32
 60  DivAirportLandings                       91709 non-null  int32
dtypes: bool(2), datetime64[ns](1), float64(18), int32(23), object(17)
memory usage: 33.4+ MB

In [26]:
df1['ArrDel15'].dropna()

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
91704    1.0
91705    0.0
91706    0.0
91707    0.0
91708    0.0
Name: ArrDel15, Length: 89639, dtype: float64

In [28]:
df1.dropna()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91704,2022-04-17,Southwest Airlines Co.,CMH,DAL,False,False,1605,1620.0,15.0,15.0,...,1631.0,1754.0,3.0,1740,17.0,1.0,1.0,1700-1759,4,0
91705,2022-04-17,Southwest Airlines Co.,CMH,DCA,False,False,1340,1335.0,0.0,-5.0,...,1352.0,1443.0,3.0,1500,-14.0,0.0,-1.0,1500-1559,2,0
91706,2022-04-17,Southwest Airlines Co.,CMH,DEN,False,False,615,614.0,0.0,-1.0,...,623.0,712.0,11.0,725,-2.0,0.0,-1.0,0700-0759,5,0
91707,2022-04-17,Southwest Airlines Co.,CMH,DEN,False,False,1945,1947.0,2.0,2.0,...,1958.0,2046.0,9.0,2055,0.0,0.0,0.0,2000-2059,5,0
91708,2022-04-17,Southwest Airlines Co.,CMH,FLL,False,False,1250,1250.0,0.0,0.0,...,1257.0,1511.0,2.0,1520,-7.0,0.0,-1.0,1500-1559,4,0

In [34]:
Dataset=df1
Dataset['Cancelled']=Dataset['Cancelled'].astype('float')
Dataset.head(5)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,0.0,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,0.0,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,0.0,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,0.0,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,0.0,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [35]:
Dataset['Diverted']=Dataset['Diverted'].astype('float')
Dataset.head(5)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,0.0,0.0,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,0.0,0.0,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,0.0,0.0,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,0.0,0.0,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,0.0,0.0,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [37]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91709 entries, 0 to 91708
Data columns (total 61 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   FlightDate                               91709 non-null  datetime64[ns]
 1   Airline                                  91709 non-null  object
 2   Origin                                   91709 non-null  object
 3   Dest                                     91709 non-null  object
 4   Cancelled                                91709 non-null  float64
 5   Diverted                                 91709 non-null  float64
 6   CRSDepTime                               91709 non-null  int32
 7   DepTime                                  89868 non-null  float64
 8   DepDelayMinutes                          89868 non-null  float64
 9   DepDelay                                 89868 non-null  float64
 10  ArrTime                                  89809 non-null  float64
 11  ArrDelayMinutes                          89639 non-null  float64
 12  AirTime                                  89639 non-null  float64
 13  CRSElapsedTime                           91709 non-null  float64
 14  ActualElapsedTime                        89639 non-null  float64
 15  Distance                                 91709 non-null  float64
 16  Year                                     91709 non-null  int32
 17  Quarter                                  91709 non-null  int32
 18  Month                                    91709 non-null  int32
 19  DayofMonth                               91709 non-null  int32
 20  DayOfWeek                                91709 non-null  int32
 21  Marketing_Airline_Network                91709 non-null  object
 22  Operated_or_Branded_Code_Share_Partners  91709 non-null  object
 23  DOT_ID_Marketing_Airline                 91709 non-null  int32
 24  IATA_Code_Marketing_Airline              91709 non-null  object
 25  Flight_Number_Marketing_Airline          91709 non-null  int32
 26  Operating_Airline                        91709 non-null  object
 27  DOT_ID_Operating_Airline                 91709 non-null  int32
 28  IATA_Code_Operating_Airline              91709 non-null  object
 29  Tail_Number                              91405 non-null  object
 30  Flight_Number_Operating_Airline          91709 non-null  int32
 31  OriginAirportID                          91709 non-null  int32
 32  OriginAirportSeqID                       91709 non-null  int32
 33  OriginCityMarketID                       91709 non-null  int32
 34  OriginCityName                           91709 non-null  object
 35  OriginState                              91709 non-null  object
 36  OriginStateFips                          91709 non-null  int32
 37  OriginStateName                          91709 non-null  object
 38  OriginWac                                91709 non-null  int32
 39  DestAirportID                            91709 non-null  int32
 40  DestAirportSeqID                         91709 non-null  int32
 41  DestCityMarketID                         91709 non-null  int32
 42  DestCityName                             91709 non-null  object
 43  DestState                                91709 non-null  object
 44  DestStateFips                            91709 non-null  int32
 45  DestStateName                            91709 non-null  object
 46  DestWac                                  91709 non-null  int32
 47  DepDel15                                 89868 non-null  float64
 48  DepartureDelayGroups                     89868 non-null  float64
 49  DepTimeBlk                               91709 non-null  object
 50  TaxiOut                                  89843 non-null  float64
 51  WheelsOff                                89843 non-null  float64
 52  WheelsOn                                 89809 non-null  float64
 53  TaxiIn                                   89809 non-null  float64
 54  CRSArrTime                               91709 non-null  int32
 55  ArrDelay                                 89639 non-null  float64
 56  ArrDel15                                 89639 non-null  float64
 57  ArrivalDelayGroups                       89639 non-null  float64
 58  ArrTimeBlk                               91709 non-null  object
 59  DistanceGroup                            91709 non-null  int32
 60  DivAirportLandings                       91709 non-null  int32
dtypes: datetime64[ns](1), float64(20), int32(23), object(17)
memory usage: 34.6+ MB